<% provide(:title,"Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <section class="user-info">
        <%= render 'shared/user_info'%>
      </section>
      
      
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <!--フォロー、フォロワーのカウント-->
      
      
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
      
 </div>
<!--crrent user自身のデータの表示-->
<% else %>

<div class="center jumbotron">
  <h1>Awesome Blog App</h1>
<%= link_to "Sigh up now!", signup_path, class:"btn btn-lg btn-primary" %>
<!--未ログインの場合に-->
<% end %>

  <p>
    This is the home page for the Awesome Blog. 
    <br>
    This is a project under the <a href="https://kredo.jp/">Kredo Japan</a> and 
    <a href="http://framgia.ph/">Framgia Philippines</a> training. 
  </p>
</div>

<%= link_to image_tag("kredo-logo.gif", alt: "KREDO Logo"),
            'http://kredo.jp/' %>

<%= link_to image_tag("framgia-logo.png", alt: "FRAMGIA Logo"),
            'http://framgia.ph/' %>