<% provide(:title,"トップページ") %>

<% if logged_in? %>
<center>

<% if current_user.admin? %>
  <h1>管理者用</h1>
<% else %>
  <h1>登録者用</h1>
<% end %>

<% if current_user.admin? %>
  <%= link_to "一覧", "/zaiko/", class:"btn btn-lg btn-primary" %>
  <br>  <br>
    <%= link_to "ユーザー", "/users/", class:"btn btn-lg btn-primary" %>
  <br>  <br>
<% end %>


  <%= link_to "入庫", new_safe_path, class:"btn btn-lg btn-primary" %>
  <br>  <br>


  <%= link_to "出庫", "/safe_before", class:"btn btn-lg btn-primary" %>
  <br>  <br>
    <%= link_to "機器名追加", "/makers", class:"btn btn-lg btn-primary" %>
  
  <br>
  </center>
  
  
<% else %>
<div class="center jumbotron">
<center>

<%= link_to "ログイン", login_path, class:"btn btn-lg btn-primary" %>
<!--未ログインの場合に-->
</center>
</div>
<% end %>