<% provide(:title,"ユーザー一覧") %>
<h3>ユーザー一覧</h3>
<br>

<%= link_to "追加", new_user_path, class: "btn btn-primary" %>
<br><br>
<div class="width_container">
<div class="width_table">
<table class="table font-small sampleTable">

<thead>

<tr scope="row"> 


  <th width="200">名前</th>
  
  <td width="200">ID(メールアドレス)</td>
  
  <td width="200">権限</td>
  
  <td width="50">編集</td>
  <td width="50">削除</td>
  
<%# if current_user.admin? %>
<!--  <td width="100">-->
<!--削除-->
<!--  </td>-->
<%# end %>


</thead>


<%#= will_paginate %>
<tbody>
<% @users.each do |user| %>

<tr scope="row"> 
  <th width="300"><%= link_to user.name, user %></th>
  <td width="300"><%= user.email %></td>
  
 <% if user.admin? %>
  <td width="100">管理者</td>
 <% else %>
  <td width="100">編集者</td>
<% end %>
 
  <td width="100"><%= link_to '編集', edit_user_path(user) %></td>

  <td width="100"><%= link_to "削除" , user ,method: :delete, data: { confirm: "本当にこのユーザーを削除しますか？" } %></td>

<tr>

<% end %>
</tbody>

  
</table>
</div>
</div>
