<% provide(:title,"ユーザー一覧") %>
<div class="container">


<h3>ユーザー一覧</h3>

<%= link_to "<i class='fa fa-user-circle-o'></i> 追加".html_safe, new_user_path, class: "btn btn-primary", style: "margin-bottom: 20px;" %>

<table class="table table-bordered table-hover">

<thead>

  <th class="col-md-2">名前</th>
  <th class="col-md-3">ID(メールアドレス)</th> 
  <th class="col-md-3">権限</th>
  <th colspan="2" class="col-md-2 text-center">Actions</th>

</thead>

<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name, edit_user_path(user) %></td>
  <td><%= user.email %></td>
  
 <% if user.admin? %>
  <td>管理者</td>
 <% else %>
  <td>編集者</td>
<% end %>
 
  <td class="text-center"><%= link_to "<i class='fa fa-pencil'></i> 編集".html_safe, edit_user_path(user), class: "btn btn-success" %></td>

  <td class="text-center"><%= link_to "<i class='fa fa-trash-o'></i> 削除".html_safe , user ,method: :delete, data: { confirm: "本当にこのユーザーを削除しますか？" }, class: "btn btn-success" %></td>

</tr>

<% end %>
</tbody>

  
</table>
</div>
</div>
