
<div class="row">
<div class="col-md-6 col-md-offset-3">
 
 
<%= form_for(@safe) do |f| %>
<%= render 'shared/error_message', object: f.object %>

<h5>売買情報（条件は変更できます。）</h5>
<h6>台情報</h6>
<table class="table font-small sampleTable small-zoom">
  <thead class="thead-inverse">
    <tr scope="row">
     


      <th width="200">前設置</th>
      <th width="200">メーカー</th>
      <th width="600">物件名</th>

      <th width="150">種別</th>

      <th width="150">撤去日</th>
      <th width="150">残債</th>
      <th width="150">使用次</th>
      <th width="150">状態</th>
      <th width="150">備考</th>
      
      
    </tr>
  </thead>
  <tbody>
      <tr scope="row">
       
        <td><%= @sell.place %></td>
        <td><%= @sell.maker %></td>
        <td><%= @sell.name %></td>

        <td><%= @sell.type_machine %></td>

        <td><%= @sell.removal_date %></td>
        <td><%= @sell.remnant %></td>
        <td><%= @sell.stage %></td>
        <td><%= @sell.condition %></td>
        <td><%= @sell.remarks %></td>

      </tr>
 </tbody>
</table>



<h6>希望条件</h6>

<%#= f.hidden_field_tag 'status', @status %>


<table class="table font-small sampleTable small-zoom">
  <thead class="thead-inverse">
    <tr scope="row">
      <th width="100">ID<%#= sortable "id", "ID" %></th>
      <th width="200">投稿日時<%#= sortable "create_at", "開始日時" %></th>
      <th width="400">到着予定日<%#= sortable "date_of_arrive", "到着予定日" %></th>
      <th width="400">購入台数<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      <th width="400">合計価格<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      <th width="400">検品納期<%#= sortable "limit_of_inspection", "検品納期" %></th>
    </tr>
  </thead>
  <tbody>
   
      <tr scope="row">
        <td><%= @safe.id %></td>
        
        <td>
        <%= @safe.created_at.strftime("%m/%d") %></td>
        
        <td><%= f.text_field :date_of_arrive , :placeholder => @safe.date_of_arrive %>
        <%#= @safe.date_of_arrive %></td>
        
        <td><%= f.text_field :confirm_number , :placeholder => @safe.confirm_number %>
        <%#= @safe.confirm_number %></td>
        
        <td><%= f.text_field :confirm_price , :placeholder => @place %>
        <%#= @safe.confirm_price %></td>
        
        <%#= @commission %>
        <%#= @safe.confirm_price %>
        
        <td><%= f.text_field :limit_of_inspection , :placeholder => @safe.limit_of_inspection %>
        <%#= @safe.limit_of_inspection %></td>
      </tr>
      
 </tbody>
</table>




<br>
<%= f.submit "許可する" , class: "btn btn-primary", data: { disable_with: "送信中..." } %>

<p style="color:red; font-size:14px;" >※このアクションは実行後に取り消すことができません。</p>

<h5>購入希望会社情報</h5>

<!--セル情報の一覧のフォーム(並び替え可能)-->

<div class="width_table">
<table class="table font-small sampleTable small-zoom">

<tr scope="row"> 
  <th width="400" class="thead-inverse">メインの受付用電話番号</th>
  <td width="1500"><%= @buyer.company_call_number_contact %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">受付時間</th>
  <td width="1500"><%= @buyer.company_call_time_from_1 %>時
        <%= @buyer.company_call_time_from_2 %>分　〜　
        <%= @buyer.company_call_time_to_1 %>時
        <%= @buyer.company_call_time_to_2 %>分</td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">メインの受付担当者</th>
  <td width="1500"><%= @buyer.company_reception %>（<%= @buyer.company_reception_sound %>）</td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">担当者の役職</th>
  <td width="1500"><%= @buyer.company_position %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">受付用FAX番号</th>
  <td width="1500"><%= @buyer.company_fax_number_contact %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">受付用メールアドレス</th>
  <td width="1500"><%= @buyer.company_mail_address %></td>
<tr>

<tr scope="row"> 
  <th width="400" class="thead-inverse">受付先住所</th>
  <td width="1500"><%= @buyer.company_post_number_contact %>
      <%= @buyer.company_place_contact %>
      <%= @buyer.company_place_detail_contact %></td>
<tr>
  
</table>
</div>
<div class="width_table">
<table class="table font-small sampleTable small-zoom">
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">その他連絡先①</th>
  <td width="1500">電話番号：<%= @buyer.company_call_number_contact_name_1 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_1 %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">その他連絡先②</th>
  <td width="1500">電話番号：<%= @buyer.company_call_number_contact_name_2 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_2 %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">その他連絡先③</th>
  <td width="1500">電話番号：<%= @buyer.company_call_number_contact_name_3 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_3 %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">その他連絡先④</th>
  <td width="1500">電話番号：<%= @buyer.company_call_number_contact_name_4 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_4 %></td>
<tr>
  
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">その他連絡先⑤</th>
  <td width="1500">電話番号：<%= @buyer.company_call_number_contact_name_5 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_5 %></td>
<tr>
  
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">その他連絡先⑥</th>
  <td width="1500">電話番号：<%= @buyer.company_call_number_contact_name_6 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_6 %></td>
<tr>
  
</table>
</div>
<div class="width_table">
<table class="table font-small sampleTable small-zoom">

<tr scope="row"> 
  <th width="400" class="thead-inverse">販売社名</th>
  <td width="1500"><%= @buyer.company_name %>(<%= @buyer.company_name_sounds %>)</td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">業態</th>
  <td width="1500"><%= @buyer.company_type %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">所属組合</th>
  <td width="1500"><%= @buyer.company_union %></td>
<tr>

<tr scope="row"> 
  <th width="400" class="thead-inverse">支店</th>
  <td width="1500"><%= @buyer.company_branch %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">代表者名</th>
  <td width="1500"><%= @buyer.company_president %>(<%= @buyer.company_president_sound %>)</td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">住所</th>
  <td width="1500">
  （<%= @buyer.company_post_number %>）
  <%= @buyer.company_place %>　
  <%= @buyer.company_place_detail %>
  </td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">電話番号</th>
  <td width="1500"><%= @buyer.company_call_number %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">FAX番号</th>
  <td width="1500"><%= @buyer.company_fax_number %></td>
<tr>

<tr scope="row"> 
  <th width="400" class="thead-inverse">緊急連絡先</th>
  <td width="1500"><%= @buyer.company_call_number_emergency %></td>
<tr>
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">登録日</th>
  <td width="1500"><%= @buyer.created_at.strftime("%y/%m/%d") %></td>
<tr>
  
</table> 
</div>
<div class="width_table">
<table class="table font-small sampleTable small-zoom">
  
<tr scope="row"> 
  <th width="400" class="thead-inverse">公式WEBページ</th>
  <td width="1500"><%= @buyer.company_url %></td>
<tr>

<tr scope="row"> 
  <th width="400" class="thead-inverse">会社PR</th>
  <td width="1500"><%= @buyer.company_pr %></td>
<tr>    

        
        

</table>
</div>



<%= f.submit "許可する" , class: "btn btn-primary big_botton", data: { disable_with: "送信中..." } %>
<% end %>

</div>
</div>


<br>
<center>
<p style="color:red; font-size:14px;" >※このアクションは実行後に取り消すことができません。</p>
</center>