<% @safes.each do |safe| %>
 
<center>
<h5>機器番号：　<%= safe.number %></h5>
<h5>在庫名：　<%= safe.name %></h5>
<h5>種別：　<%= safe.type_machine %></h5>
</center>
 
<%#= link_to "出庫する", safe_path(safe), :class => "btn btn-primary big_botton" %>
<%= link_to '出庫する', safe_path(safe), method: :put, :class => "btn btn-primary big_botton" %>


<% end %>

 <%= link_to '戻る', "/", :class => "btn btn-primary big_botton btnred" %>