<center>
<h3>出庫先の設定</h3>
<br>


<div class="box2">

<%= form_for(@safe, url: safe_path ) do |f| %>
<%= render 'shared/error_message', object: f.object %>

<p>出庫先
<b style="color:red;">*</b>
<%= f.text_field :to , class: 'form-control',:required => true , :value => session[:to] %>
<br></p>


<%= f.hidden_field :staff_two , :value => current_user.name %>
<%= f.hidden_field :status , :value => "出庫済" %>

<%= f.submit "設定する", class: "btn btn-primary", data: { disable_with: "登録中..." } %>
<% end %>     

</div>

<%= link_to '戻る', "/", :class => "btn btn-primary big_botton btnred" %>



</center>