
<div class="col-md-offset-3 col-md-6" style=" padding:20px 20px 60px 20px;">
<br>
<div class="container-fluid" style="border: 1px dashed red; padding: 20px;  ">
<div style="padding: 20px;" class="center-block">
 
<h3>出庫先の設定</h3>
<br>




<%= form_for(@safe, url: safe_path ) do |f| %>
<%= render 'shared/error_message', object: f.object %>

<p>出庫先
<b style="color:red;">*</b>
<%= f.text_field :to , class: 'form-control',:required => true , :value => session[:to] %>
<br></p>


<%= f.hidden_field :staff_two , :value => current_user.name %>
<%= f.hidden_field :status , :value => "出庫済" %>

<button class="btn btn-lg btn-info col-md-5 col-xs-5" style="margin-top: 20px;" name="pachinko"> <i class='fa fa-save'></i> 登録
<%= f.submit  data: { disable_with: "登録中..." }, :style => 'display:none' %>
</button>



<a class="btn btn-lg btn-danger col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-5" style="margin-top: 20px;" href="/"><i class='fa fa-mail-reply'></i> 戻る</a>



<% end %>     









</div>
</div>

</div>