<% provide(:title,"在庫") %>

<div class="row">
<div style="width:100%;">
  
<h3>在庫</h3>
<h4>本体(全揃い)</h4>
<br> 
<%= link_to "本体(全揃い)", "/zaiko/", class:"btn  btn-primary" %>
<%= link_to "セルのみ", "/zaiko-cell/", class:"btn btn-primary" %>
<%= link_to "枠のみ", "/zaiko-flame/", class:"btn  btn-primary" %>
<%= link_to "基盤のみ", "/zaiko-foundation/", class:"btn btn-primary" %>

<%= link_to "スロット", "/zaiko-slot/", class:"btn btn-primary" %>
<%= link_to "CSV出力",csv_output_two_safes_path(format: :csv), :class => "btn btn-primary" %>

<div class="width_container">
<div style="width:100%; min-width:1000px">
<div class="width_table">

<table class="table font-small2 sampleTable">
  <thead class="thead-inverse">
    <tr scope="row">
     
      <th class="width3vw">ID</th>
      
      <!--<th class="width3vw">状況</th>-->
      
      <!--<th class="width3vw">機種</th>-->
      
      <th class="width10vw">機器番号</th>

      <th class="width10vw">機種名</th>
      
      <th class="width10vw">入庫先</th>
      <th class="width5vw">入庫担当者<%#= sortable "confirm_price", "確定価格(全込)" %></th>

      <th class="width5vw">仕入価格</th>

      <th class="width5vw">撤去日</th>
      <th class="width5vw">検定日</th>
      
      <th class="width3vw">倉庫</th>
      <th class="width3vw">パネル色</th>
      
      
      <th class="width10vw">備考</th>
      <th class="width5vw">画像</th>
      
      <th class="width3vw">編集</th>
      <th class="width3vw">出庫</th>
      <th class="width3vw">p-sensor</th>
      
      <th class="width3vw">削除</th>      
    </tr>
  </thead>
<tbody>

<% @safes.each do |safe| %>

   
      <tr scope="row">
       
       

       
       
        <td class="width3vw"><%= safe.id %></td>

        <td class="width10vw">

         <%= safe.number_of_frame %>
        </td>

        <td class="width10vw"><%= safe.name %></td>

        <td class="width5vw">
       <%= safe.created_at.strftime("%m/%d") %> <%= safe.from %>
        </td>
        
        <td class="width5vw">

       <%= safe.staff %> <br>

      </td>
      

      
      <% unless safe.price_from.blank? %>
        <td class="width5vw"><%= safe.price_from.to_s(:delimited) %> 円</td>
        <% else %>
        <td class="width5vw"><%= safe.price_from %> 円</td>
        <% end %>

        <td class="width5vw"><%= safe.date_of_removal %></td>
        <td class="width5vw"><%= safe.date_of_verification %></td>
        
        <td class="width3vw"><%= safe.place %></td>
        <td class="width5vw"><%= safe.color_of_panel %></td>
        
        <td class="width10vw"><%= safe.remarks %></td>
        
        <td class="width5vw"><a href="<%= safe.photo %>" ><img src="<%= safe.photo %>" width="50"></a></td>
        
        <td class="width5vw">
        
        <%= link_to edit2_safes_path(safe), :class => "btn btn-primary" do %>
        <i class="fa fa-pencil-square-o"></i>
        <% end %>
        </td>
        
        
      <% if safe.status == "出庫済" %>
       <td class="width5vw">
        <b>出庫済</b>
       </td>
      <% else %>
      
       <td class="width3vw">
        <%= link_to edit_safe_path(safe, params: { safe: { status: "出庫済"} } ), :class => "btn btn-primary" do %>
        <i class="fa fa-sign-out"></i>
        <% end %>
       </td>
       
       
       
      <% end %> 
      
      
      
       <td class="width3vw">
        <% @utf81 = safe.name.encode(Encoding::SJIS, :invalid => :replace, :undef => :replace) %>
        <% @utf8 = ERB::Util.url_encode(@utf81) %>
        <% @url = "https://www.p-sensor.co.jp/php/search_sale.php?&item=" + @utf8 %>
        <%= link_to "P", @url, :class => "btn btn-primary" %>
       </td>
       
       <td class="width3vw">
      <%= link_to  safe ,method: :delete, data: { confirm: "本当にこの在庫データを削除しますか？" }, :class => "btn btn-primary" do %>
        <i class="fa fa-bitbucket"></i>
        <% end %>
       </td>

 
 
      </tr>


<% end %>
</tbody>
</table>

</div>
</div>
</div>



<%= paginate @safes %>


</div>
</div>