<% provide(:title,"Home") %>

  <div class="row">

<div style="width:100%;">
<h3>現在、売買進行中の案件</h3>





<div class="width_table">
<table class="table font-small sampleTable small-zoom">
  <thead class="thead-inverse">
    <tr scope="row">

      <th width="100">ID<%#= sortable "id", "ID" %></th>
      <th width="150">開始日時<%#= sortable "create_at", "開始日時" %></th>
      
      <th width="100">商品ID<%#= sortable "seller_id", "売り手" %></th>

      <th width="100">販売者様ID<%#= sortable "seller_id", "売り手" %></th>
      <th width="100">購入者様ID<%#= sortable "seller_id", "売り手" %></th>
      
      
      <th width="200">希望到着予定日<%#= sortable "date_of_arrive", "到着予定日" %></th>
      <th width="100">希望個数<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      <th width="200">希望価格<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      <th width="200">希望検品納期<%#= sortable "limit_of_inspection", "検品納期" %></th>

       <th colspan="1" width="200"></th>

    </tr>
  </thead>
  
  <tbody>
   <% @safes.each do |safe| %>
   
      <tr scope="row">
        <td class="zoom15"><%= safe.id %></td>
        <td class="zoom15"><%= safe.created_at.strftime("%m/%d") %></td>
        <td class="zoom15"><%= safe.sell_id %></td>
        <td class="zoom15"><%= safe.seller_id %></td>
        <td class="zoom15"><%= safe.buyer_id %></td>
        <td class="zoom15"><%= safe.date_of_arrive %></td>
        <td class="zoom15"><%= safe.confirm_number %></td>
        <td class="zoom15"><%= safe.confirm_price.to_s(:delimited) %>円</td>
        <td class="zoom15"><%= safe.limit_of_inspection %></td>

        <td class="zoom15"><%= link_to '詳細', "safes/show" %></td>

      </tr>
      
    <% end %>
 </tbody>
</table>

</div>









</div>

</div>