<% provide(:title,"決済経過一覧") %>

  <div class="row">

<div style="width:100%;">
<h3>現在在庫中の物件</h3>


<br> 
<%= link_to "過去含む", "/safes/", class:"btn btn-lg btn-primary" %>

<%= link_to "入庫", new_safe_path, class:"btn btn-lg btn-primary" %>
  
<%= link_to "出庫", "/safe_before/", class:"btn btn-lg btn-primary" %>
<br> <br> 

<div class="width_table">

<table class="table font-small2 sampleTable">
  <thead class="thead-inverse">
    <tr scope="row">

      <th class="width5vw">ID</th>
      <th class="width5vw">機器番号</th>
      <!--<th class="width5vw smart2">機器番号</th>-->
      
      <th class="width5vw">登録日時</th>
      <!--<th class="width20vw">最終更新</th>-->
      
      <th class="width10vw">機種名<%#= sortable "seller_id", "売り手" %></th>
      <!--<th class="width5vw smart">タイプ</th>-->
      
      <th class="width5vw">入庫登録者<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      
      <th class="width5vw">出庫登録者<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      
      
      <th colspan="1" class="width5vw">状況</th>

  </thead>
  <tbody>
    
   <% @safes.each do |safe| %>

   <%# @sell_staff = Sell.find(safe.sell_id)  %>
   <%# @user_staff = User.find(safe.buyer_id)  %>
   
      <tr scope="row">
       
        <td class="width5vw"><%= safe.id %></td>
        
        <td class="width5vw"><%= safe.number %></td>
        
        <td class="width5vw"><%= safe.created_at.strftime("%m/%d") %></td>

        <!--<td class="width10vw"><%#= safe.updated_at.strftime("%m/%d") %></td>-->

        <td class="width5vw"><%= safe.name.truncate(20) %></td>
        <!--<td class="width5vw"><%#= safe.type_machine %></td>-->
      

        
      <td class="width5vw"><%= safe.staff.truncate(10) %></td>
        
      <% if safe.staff2 %>
        <td class="width5vw"><%= safe.staff2.truncate(10) %></td>
      <% else %>
        <td class="width5vw">まだ</td>
      <% end %>
      
        <!--<td class="width5vw"><%#= safe.status %></td>-->
        
      <% if safe.status && safe.status == "出庫済" %>
       <td class="100">
        <b>出庫済</b>
       </td>
       
      <% else %>
       <td class="100">
        <b><%= safe.status %></b>
        <br>
        <%= link_to '出庫', edit_safe_path(safe) , :class => 'btn btn-primary small-zoom' %>
       </td>
      <% end %> 
 
 
      </tr>


        <% end %>
 </tbody>
</table>




<%= paginate @safes %>

</div>









</div>

</div>