<% provide(:title,"在庫") %>

<div class="row">
<div class="container">

<h3>履歴 test 1</h3>
<h4>パチンコ</h4>

<%= link_to "パチンコ履歴", "/safes/", class:"btn  btn-primary" %>
<%= link_to "スロット履歴", "/slot_history/", class:"btn btn-primary" %>

<%= link_to "COMPACT", "?t=c", class:"btn btn-primary" %>
<%= link_to "FULL", "?t=f", class:"btn btn-primary" %>

<%= link_to "CSV出力",csv_output_safes_path(format: :csv), :class => "btn btn-primary" %>


<div class="row">
<div class="btn-group" style="border: 1px solid; padding: 10px; box-shadow: 10px 10px 5px #888888;">
<a href="/zaiko/" class="btn btn-danger"><span class="badge">ALL</span> 本体(全揃い)</a>
<a href="/zaiko-cell/" class="btn btn-primary"><span class="badge">1</span> セルのみ</a>
<a href="/zaiko-flame/" class="btn btn-primary"><span class="badge">2</span> 枠のみ</a>
<a href="/zaiko-foundation/" class="btn btn-primary"><span class="badge">3</span> 基盤のみ</a>
</div>
</div>

<div class="row" style="margin-top: 20px;">
<div class="btn-group" style="border: 1px solid; padding: 10px; box-shadow: 10px 10px 5px #888888;">
<a href="/safes/" class="btn btn-primary"><span class="badge">1</span> パチンコ履歴</a>
<a href="/slot_history/" class="btn btn-success"><span class="badge">2</span> スロット履歴</a>
</div>
</div>




<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
<div class="btn-group" style="border: 1px solid; padding: 10px; box-shadow: 10px 10px 5px #888888;">
<a href="/safes/new" class="btn btn-primary"><i class="fa fa-sign-in"></i> 入庫</a>
<a href="/safe_before/" class="btn btn-success"><i class="fa fa-sign-out"></i> 出庫</a>
</div>
</div>

<div class="container-fluid">
<div class="width_container">
<div style="width:100%; min-width:1000px">
<div class="width_table">

<table class="table font-small2 sampleTable">
  <thead class="thead-inverse">
    <tr scope="row">
     
      <th class="width3vw">ID</th>
     
      
      <th class="width3vw">機種</th>
      
      
      <!--<th class="width3vw">状況</th>-->
      
      <!--<th class="width3vw">機種</th>-->
      
      <% if !(params[:t] == "c") %>
      <th class="width10vw">機器番号</th>
      <% end %>
      
      <th class="width20vw">機種名</th>
      
      <% if !(params[:t] == "c") %>
      <th class="width10vw">取引先</th>
      <% end %>

      <% if !(params[:t] == "c") %>
      <th class="width5vw">担当者<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      <% end %>
      
      
      <th class="width5vw">仕入価格</th>

      <% if !(params[:t] == "c") %>
      <th class="width5vw">撤去日</th>
      <% end %>
      <% if !(params[:t] == "c") %>
      <th class="width5vw">検定日</th>
      <% end %>
      
      
      <th class="width3vw">倉庫</th>
      
      <% if !(params[:t] == "c") %>
      <th class="width3vw">パネル色</th>
      <% end %>
      
      <% if !(params[:t] == "c") %>
      <th class="width10vw">備考</th>
      <% end %>
      
      <% if !(params[:t] == "c") %>
      <th class="width5vw">画像</th>
      <% end %>
      
      
      <th class="width3vw">編集</th>
      <th class="width3vw">出庫</th>
      <th class="width3vw">p-sensor</th>
      
      <th class="width3vw">削除</th>
      
    </tr>
  </thead>
<tbody>

<% @safes.each do |safe| %>

   <%# @sell_staff = Sell.find(safe.sell_id)  %>
   <%# @user_staff = User.find(safe.buyer_id)  %>
   
      <tr scope="row">
       
       

       
       
        <td class="width3vw"><%= safe.id %></td>
        <!--<td class="width3vw"><%#= safe.status %></td>-->
        <td class="width5vw"><%= safe.type_machine %></td>
        
      <% if !(params[:t] == "c") %>
        <td class="width10vw">
         <%= safe.number %><br>
         <!--枠　：<%#= safe.number_of_frame %><br>-->
         <!--基盤：<%#= safe.number_of_foundation %>-->
        </td>
      <% end %>
        <!--<td class="width3vw"><%#= safe.created_at.strftime("%m/%d") %></td>-->
        <!--<td class="width3vw"><%#= safe.updated_at.strftime("%m/%d") %></td>-->


        <td class="width10vw"><%= safe.name %></td>


      <% if !(params[:t] == "c") %>
        <td class="width5vw">
        <% if safe.status == "出庫済" %>
        入：<%= safe.created_at.strftime("%m/%d") %> <%= safe.from %><br>
        出：<%= safe.updated_at.strftime("%m/%d") %> <%= safe.to %>
        <% else %>
        入：<%= safe.created_at.strftime("%m/%d") %> <%= safe.from %><br>
        出： --- ---
        <% end %>
        </td>
        
        <td class="width5vw">
        <% if safe.status == "出庫済" %>
        入：<%= safe.staff %> <br>
        出：<%= safe.staff_two %>
        <% else %>
        入：<%= safe.staff %> <br>
        出： ---
        <% end %>
      </td>
      <% end %>
      
      
      <% unless safe.price_from.blank? %>
        <td class="width5vw"><%= safe.price_from.to_s(:delimited) %> 円</td>
        <% else %>
        <td class="width5vw"><%= safe.price_from %> 円</td>
        <% end %>

      <% if !(params[:t] == "c") %>
        <td class="width5vw"><%= safe.date_of_removal %></td>
        <td class="width5vw"><%= safe.date_of_verification %></td>
      <% end %>
      
      
        <td class="width3vw"><%= safe.place %></td>
        
      <% if !(params[:t] == "c") %>
        <td class="width5vw"><%= safe.color_of_panel %></td>
        <td class="width10vw"><%= safe.remarks %></td>
      <% end %>
      
      <% if !(params[:t] == "c") %>
        <td class="width5vw"><a href="<%= safe.photo %>" ><img src="<%= safe.photo %>" width="50"></a></td>
      <% end %>
      

        <td class="width5vw">
        <%= link_to edit2_safes_path(safe), :class => "btn btn-primary" do %>
        <i class="fa fa-pencil-square-o"></i>
        <% end %>
        </td>
        
        
      <% if safe.status == "出庫済" %>
       <td class="width5vw">
        <b>出庫済</b>
       </td>
      <% else %>
       <td class="width3vw">
        <%= link_to edit_safe_path(safe, params: { safe: { status: "出庫済"} } ), :class => "btn btn-primary" do %>
        <i class="fa fa-sign-out"></i>
        <% end %>
       </td>
       <% end %>

       
       
       <td class="width3vw">
        <% @utf81 = safe.name.encode(Encoding::SJIS, :invalid => :replace, :undef => :replace) %>
        <% @utf8 = ERB::Util.url_encode(@utf81) %>
        <% @url = "https://www.p-sensor.co.jp/php/search_sale.php?&item=" + @utf8 %>
        <%= link_to "P", @url, :class => "btn btn-primary" %>
       </td>
       
       
       
       <td class="width3vw">
      <%= link_to  safe ,method: :delete, data: { confirm: "本当にこの在庫データを削除しますか？" }, :class => "btn btn-primary" do %>
        <i class="fa fa-bitbucket"></i>
        <% end %>
       </td>
       
       
       
      
      

      
      
 
 
      </tr>


<% end %>
</tbody>
</table>

</div>
</div>
</div>



<br>
<br>

<%= paginate @safes %>


</div>
</div>