<% provide(:title, "Edit user") %>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_message', object: f.object %>

    
     <%= f.label :バンク %>
        <%= f.text_field :money, class: 'form-control' %>

  <br>
      
      <%#= render 'shared/details_form' %>




      <%= f.submit "変更する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>