<!--セル情報の一覧のフォーム(並び替え可能)-->
<div class="width_table">
<table class="table font-small sampleTable small-zoom">
  <thead class="thead-inverse">
    <tr scope="row">
      <!--<th width="60">投稿者</th>-->
      <!--<th>ユーザーの会社名前</th>-->
      <th width="120"><%= sortable "created_at", "更新日" %></th>
      <th width="100"><%= sortable "status", "状況" %></th>
      <th width="150"><%= sortable "place", "前設置" %></th>
      <th width="170"><%= sortable "maker", "メーカー" %></th>
      <th width="300"><%= sortable "name", "機種名" %></th>
      <th width="100"><%= sortable "number", "数量" %></th>
      <th width="100"><%= sortable "type_machine", "種別" %></th>
      <th width="120"><%= sortable "price", "価格" %></th>
      <th width="150"><%= sortable "removal_date", "撤去日" %></th>
      <th width="100"><%= sortable "remnant", "残債" %></th>
      <th width="120"><%= sortable "stage", "使用次" %></th>
      <th width="100"><%= sortable "condition", "状態" %></th>
      <th width="200"><%= sortable "remarks", "備考" %></th>
    </tr>
  </thead>
  <tbody>
      <tr scope="row">
        <%#= sell.user.name %>
        <%#= sell.user.detail.company_name %>
        <%#= sell.created_at %>
        <%#= I18n.l(sell.created_at, format: :long) %>
        <td><%= @sell.created_at.strftime("%m/%d") %></td>
        <td><%= @sell.status %></td>
        <td><%= @sell.place %></td>
        <td><%= @sell.maker %></td>
        <td><%= @sell.name %></td>
        <td><%= @sell.number %></td>
        <td><%= @sell.type_machine %></td>
        <td><%= @sell.price %></td>
        <td><%= @sell.removal_date %></td>
        <td><%= @sell.remnant %></td>
        <td><%= @sell.stage %></td>
        <td><%= @sell.condition %></td>
        <td><%= @sell.remarks %></td>
      </tr>
 </tbody>
</table>
</div>
