<%= form_for(@safe) do |f| %>
<%= render 'shared/error_message', object: f.object %>

<p>希望の商品到着日時
<%= f.text_field :date_of_arrive , :placeholder => '例：１０月２５日'%></p>
<br>

<p>希望の購入台数
<%= f.text_field :confirm_number , :placeholder => '例：5'%>台</p>
<br>

<p>希望の商品価格（梱包料・送料などを含める）
<%= f.text_field :confirm_price , :placeholder => '例：300,000'%>円</p>
<br>

<p>約束できる検品納期
<%= f.text_field :limit_of_inspection , :placeholder => '例：商品到着から最長で５日'%></p>
<br>


<!--フォームで何も送信されないとそれもバグになる-->
<%= f.submit "購入希望を出す", class: "btn btn-primary" %>
<% end %>     

<br>
<p>最終的な確定情報を決めるのは販売者様になりますで、<br>
入力していただいた数値は、あくまでも提案の数値になります。</p>
<br>
<%= link_to '戻る', "/safe" %>